@import 'base';


footer {background-color: #fff;
		width: 100%;
		color: #000;
				a{font-size: 23px;
					text-decoration: none;
					color: black;
				}
		border-color: #000;
		.contact_footer {
			vertical-align: -3em;
			margin-left: 5%;
			margin-right: 2%;
			color: #000;
			display: inline-block;


			h3{display: inline-block;
				width: 70%;
				padding-left:1em; 
				font:150% $mf;}

		}
			.social{
				vertical-align: -3em;
				margin-top: 2%;
				a{padding: 1%;
					font-size: 32px;}
			}
		.foots{width: 23%;
				display: inline-table;
				h3{font:140% $mf;}
				ul{font:100% $mf;
					li{list-style: none;}
				}
			}

		.marks{vertical-align: -5em;
				text-align: center;
				background-color: #fff;
				img{margin: 0 auto;
					display: block;}
			.quality{width: 50%;
				}
			.sign{width: 100%;
				color: #000;
				font:100% $mf;}
			}



	}




#showLeft{margin-left: 2%;
	position: fixed;
	-webkit-transform: translateZ(0);
	.inline-svg{width: 10%;}
	@-moz-document url-prefix() {
	.inline-svg{width: 40%;}
				}


}

#hideLeft{margin-left: 10%;
	width: 20%;
	-webkit-transform: translateZ(0);
	.inline-svg{width: 2%;}}
.bar {

	}

.button{
	text-align: center;
	font: 120% $mf;
	color: #fff;
	text-decoration: none;
	padding: 1em 3em;
	border-style: solid;
	border-width: 1px;
	@include border-radius(5px); 
	&:hover{
	color: #000;
	transition:0.5s;
	border-color: #fff;
	background-color: #fff;
	text-decoration: none;}

}


.button2{
	text-align: center;
	font: 120% $mf;
	color: #000;
	text-decoration: none;
	padding: 1em 3em;
	border-style: solid;
	border-width: 1px;
	@include border-radius(5px); 
	&:hover{
	color: #fff;
	transition:0.5s;
	border-color: #000;
	background-color: #000;
	text-decoration: none;}
}

